.header {
  height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
  padding: 16px 0;
  color: #000;
  border-radius: 0px 0px 5px 5px;
  opacity: 1;
  color: #7f7e7e;
  overflow: hidden;
  z-index: 10;
  margin: 0 auto;
}

.header__logo {
  margin-top: 10px;
  float: left;
}

.header__menus {
  float: left;
  width: 50%;
  margin-left: 20px;
  margin-top: 45px;
  ul {
    li {
      float: left;
      margin-right: 10%;
      cursor: pointer;
    }
  }
}

.header__search {
  float: right;
  width: 15%;
  margin-top: 12px;
  border: 1px solid #FFF;
  border-radius: 4px;
}

.header__active {
  color: #fff;
}

.header__smile {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .header {
    position: inherit;
    padding: 0 8px;
    height: 112px;
    position: relative;
  }
  .header__logo {
    width: 100%;
  }
  .header__search {
    width: 85%;
  }
}
